{% extends 'kinpri_theater_checker/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
    <h1>👑キンプリ上映スケジュールリスト🌹</h1>

    <p>
        『KING OF PRISM -PRIDE the HERO-』の上映スケジュールを自動的にまとめて表示するサービスです。キンプラの鑑賞計画を立てる時などに活用してください。間違いなどを見つけたら、<a href="https://twitter.com/skrmch_rhythpri"><i class="fa fa-twitter"></i>さくらもち (@skrmch_rhythpri)</a> までお知らせください。
    </p>

    <div class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">このページをツイートする</a>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <dl>
        <dt>現在対応している劇場</dt>
        <dd>
            <ul>
                <li>Tジョイ・バルト系列</li>
                <li>イオンシネマ (2017/06/11: 当日分のみ)</li>
                <li>ユナイテッドシネマ・シネプレックス系列 (2017/06/13: 座席数が正常に取得できていないので、あとで直します🔧 )</li>
                <li>川崎チネチッタ</li>
                <li>MOVIX (2017/06/14: 当日分のみ)</li>
                <li>TOHOシネマズ (2017/06/14: 当日分のみ)</li>
                <li>シネ・リーブル池袋 (2017/06/14: 座席数はまだです)</li>
            </ul>
        </dd>
        <dt>追加作業中の劇場</dt>
        <dd>
            <ul>
                <li>スガイディノス札幌劇場</li>
            </ul>
        </dd>
        <dt>現在の対応劇場数:</dt>
        <dd>{{ support_theater_num }} / {{ present_total_theater_num }} 館</dd>
        <dt>現在の上映館数 / 全上映館数:</dt>
        <dd>{{ present_total_theater_num }} / {{ total_theater_num }} 館</dd>
        <dt>最終更新日時:</dt>
        <dd>{{ last_updated }}</dd>
    </p>

    <p>
        上映時刻をクリックすると、劇場の上映時間のページにジャンプできます。
    </p>

    <p>
        凡例:
        <span class="movie-type cheering">アイドルおうえん上映</span>
        / <span class="movie-type">通常上映</span>
        / <span class="movie-type special">特別な上映 (舞台挨拶など)</span>
        / <span class="movie-type kinpri1">前作 by PrettyRhythm</span>
        / ✨🌈✨ 準備中 (ちょっと待ってね)
    </p>

    <!-- スケジュールリスト -->
    <table class="table">
        <thead>
            <tr>
                <th>都道府県</th>
                <th>劇場名</th>
                {% for day in days %}
                <th>{{ day|date:"n月j日(D)" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for theater, shows_list in theater_shows %}
            <tr>
                <td>{{ theater.pref }}</td>
                <td><a href="{{ theater.link }}" target="_blank">
                    {{ theater.name }}
                    {% if not theater.start_date|date:"n/j" == '6/10' %}
                    ({{ theater.start_date|date:"n/j〜" }})
                    {% endif %}
                </a></td>
                {% for shows in shows_list %}
                <td class="show">
                    {% if not shows.count %}
                    ✨🌈✨
                    {% endif %}
                    {% for show in shows %}
                    <div class="movie-type {{ show.movie_types|join:' '}}"
                         title="{{ show.title }}">
                        <span class="state">
                            {% if show.ticket_state == 0 %}
                            -
                            {% elif show.ticket_state == 1 %}
                            ×
                            {% elif show.ticket_state == 2 %}
                            △
                            {% elif show.ticket_state == 3 %}
                            ○
                            {% elif show.ticket_state == 4 %}
                            ◎
                            {% endif %}
                        </span>
                        <a href="{{ show.schedule_url }}" target="_blank">
                            {{ show.start_time }}
                        </a>
                        <span class="seats_num">
                            {% if show.remaining_seats_num %}
                            <small>
                                ({{ show.remaining_seats_num }}
                                / {{ show.total_seats_num|default_if_none:" - " }})
                            </small>
                            {% endif %}
                        </span>
                    </div>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer>
        <hr>
        <p>
            このサービスのソースコードは、
            <i class="fa fa-github"></i>
            GitHubで公開しています。
            <a href="https://github.com/sakuramochi0/kinpri-theater-checker">
                scraper
            </a>
            /
            <a href="https://github.com/sakuramochi0/kinpri-theater-checker-website">
                website
            </a>
        </p>
        
        <p>作者:
            <a href="https://twitter.com/skrmch_rhythpri">
                <i class="fa fa-twitter"></i>
                さくらもち (@skrmch_rhythpri)
            </a>
        </p>
    </footer>
</div>
{% endblock %}
